@import "../../mixins.scss";

.optimum-mobile {
  position: relative;
  .optimum-costs-hero {
    position: relative;
    width: 100%;
    height: 329px;
    background: url('/hero-bg.svg') center,
      linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color-one)
      );
    padding: 80px 5% 0 5%;
    text-align: center;
    h1 {
      @include h2;
      color: var(--secondary-color-two);
      text-transform: capitalize;
      margin-top: 20px;
    }
    & > p {
      @include p1;
      color: var(--secondary-color-two);
      text-transform: capitalize;
      line-height: 26px;
      margin: 15px auto;
    }
  }
  .best-internet-tv-offer {
    background-color: var(--secondary-color-three);
    padding: 80px 5% 20px 5%;
    .cards {
      margin-top: -200px;
    }
    p {
      @include p3();
      text-align: center;
      font-style: italic;
    }
  }
  .endnote-start {
    background-color: var(--secondary-color-three);
    .endnote-container {
      background-color: var(--secondary-color-two);
      .custom-table {
        box-shadow: var(--secndary-shadow);
        table {
          table-layout: fixed;
          thead {
            tr {
              th {
                text-align: center;
                .icon {
                  font-size: 20px;
                }
              }
            }
          }
          tbody {
            background: var(--secondary-color-three);
            tr {
              td:nth-of-type(1) {
                color: #000;
              }
              td {
                text-align: center !important;
              }
            }
          }
        }
      }
    }
  }
  .important-links {
    .all-links {
      @include flex;
      flex-wrap: wrap;
      margin-top: 20px;
      a {
        padding: 12px;
        margin: 12px;
        @include p2($fw: 400);
        text-decoration: underline;
        color: var(--primary-color);
        border: none;
        border-radius: 24px;
        background: #e6f1ff;
        transition: var(--basic);
        text-align: center;
        &:hover {
          color: var(--secondary-color-two);
          background: var(--primary-color);
        }
      }
    }
  }
  .optimum-mobile-plans {
    background-color: var(--secondary-color-three);
    table {
      tbody {
        background-color: var(--secondary-color-two);
      }
    }
    p.below-table {
      @include p3();
      text-align: center;
      font-style: italic;
    }
    .channels {
      background-color: var(--secondary-color-two);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
      img.mark {
        width: 44px;
        margin: 0px 0px 25px;
      }
      .right-img {
        text-align: right;
        img.maxlogo {
          width: 87.68px;
          height: 24px;
          margin: 0px 0px 25px;
        }
      }

      a {
        @include p2($fw: 400);
        color: #0070ff;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      ul {
        li {
          @include p3();
          font-weight: 400;
          span {
            a {
              @include p2($fw: 300);
              color: #0070ff;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      hr.hr {
        border-color: #0070ff;
        margin: 15px 0px;
      }
      .btn {
        overflow: hidden;
        padding: 22px 0 22px 0;
        @include p2($fw: 400);
        color: var(--secondary-color-one);
        text-transform: capitalize;

        &:nth-of-type(1) {
          color: #a5a5a5;
          text-align: right;
        }
        a {
          background: var(--primary-color);
          padding: 11px 24px;
          border: none;
          border-radius: 12px 0 12px 0;
          color: var(--secondary-color-two);
          @include btActive;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
          transition: var(--basic);
          &:hover {
            border-radius: 0 12px 0 12px;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .optimum-look-for {
    background-color: var(--secondary-color-two);
    table {
      tbody {
        background-color: var(--secondary-color-three);
      }
    }
    p.below-table {
      @include p3();
      text-align: center;
      font-style: italic;
    }
    .channels {
      background-color: var(--secondary-color-three);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
      img.mark {
        width: 44px;
        margin: 0px 0px 25px;
      }
      .right-img {
        text-align: right;
        img.maxlogo {
          width: 87.68px;
          height: 24px;
          margin: 0px 0px 25px;
        }
      }

      a {
        @include p2($fw: 400);
        color: #0070ff;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      ul {
        li {
          @include p3();
          font-weight: 400;
          span {
            a {
              @include p2($fw: 300);
              color: #0070ff;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      hr.hr {
        border-color: #0070ff;
        margin: 15px 0px;
      }
      .btn {
        overflow: hidden;
        padding: 22px 0 22px 0;
        @include p2($fw: 400);
        color: var(--secondary-color-one);
        text-transform: capitalize;

        &:nth-of-type(1) {
          color: #a5a5a5;
          text-align: right;
        }
        a {
          background: var(--primary-color);
          padding: 11px 24px;
          border: none;
          border-radius: 12px 0 12px 0;
          color: var(--secondary-color-two);
          @include btActive;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
          transition: var(--basic);
          &:hover {
            border-radius: 0 12px 0 12px;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .final-take {
    background-color: var(--secondary-color-three);
    .all-links {
      @include flex;
      flex-wrap: wrap;
      margin-top: 20px;
      a {
        padding: 12px;
        margin: 12px;
        @include p2($fw: 400);
        text-decoration: underline;
        color: var(--primary-color);
        border: none;
        border-radius: 24px;
        background: #e6f1ff;
        transition: var(--basic);
        text-align: center;
        &:hover {
          color: var(--secondary-color-two);
          background: var(--primary-color);
        }
      }
    }
  }
  .optimum-faq {
    background: var(--secondary-color-two);
    .accordion {
      .item {
        background: var(--secondary-color-three);
      }
    }
  }
  .optimum-review-endnote {
    padding: 80px 5%;
    background: var(--secondary-color-three);
    .endnote-container {
      background: var(--secondary-color-two);
      .bold {
        @include p2($fw: 600);
      }
      .below-table {
        @include p2($fw: 300);
        margin-top: 10px;
        font-style: italic;
      }
      ul {
        margin-top: 15px;
        margin-bottom: 15px;
        list-style: none;
        margin-left: 0px;
        margin-right: 0px;
        li {
          span {
            a {
              @include p2($fw: 400);
              color: #0070ff;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .endnote-review {
        @include p1($fw: 300);
      }
    }
  }
}
