@import "../../mixins.scss";

.resources {
  .resources-slider {
    background: #000;
    .swiper-slide {
      position: relative;
      height: 100%;
      .mobileImg{
        display: none;
      }
      .tabletImg{
        display: none;
      }
      .resources-slide-content {
        background: #ffffff80;
        padding: 20px 5% 60px 5%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        @include flex($jc: flex-start, $ai: flex-start);
        flex-direction: column;
        .heading {
          @include h5;
          color: var(--secondary-color-one);
        }
        .metadata {
          @include flex($jc: flex-start);
          margin-top: 5px;

          & > p {
            @include p1($fw: 400);
            font-size: 1.4rem;
            color: var(--secondary-color-one);
            // &::after {
            //   content: " |";
            // }
          }

          .categories {
            @include flex($jc: flex-start);
            p {
              @include p1($fw: 400);
              font-size: 1.4rem;
              color: var(--secondary-color-one);
              // &::after {
              //   content: " ,";
              // }
            }
          }
        }
      }
    }

    .swiper-pagination {
        top: unset;
        bottom: 20px !important;
        text-align: right;
        padding-right: 5%;
        .swiper-pagination-bullet {
          cursor: pointer;
          width: 12px;
          height: 12px;
          background: #f5f5f5;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          width: 12px;
          height: 12px;
          background: var(--primary-color);
        }
      }
    
      .swiper-button-prev{
        height: 46px !important;
        width: 46px !important;
        padding-right: 3px;
        border-radius: 100%;
        background: var(--primary-color);
        @include flex;
        left: 5% !important;
        &:after {
          font-size: 18px;
          color: var(--secondary-color-two);
          margin: auto;
        }
      }
      .swiper-button-next {
        height: 46px !important;
        width: 46px !important;
        padding-left: 3px;
        border-radius: 100%;
        background: var(--primary-color);
        @include flex;
        right: 5% !important;
        &:after {
          font-size: 18px;
          color: var(--secondary-color-two);
          margin: auto;
        }
      }
  }
}
// tablet
@media (min-width: 441px) and (max-width: 820px){
  .resources {
    .resources-slider {
      .swiper-slide {
        .desktopImg{
          display: none;
        }
        .tabletImg{
          display: inline-block;
        }
        .mobileImg{
          display: none;
        }
        .resources-slide-content {
          padding: 20px 5% 30px 5%;
          .heading {
            @include h5;
          }
        }
      }
      .swiper-pagination {
        bottom: 10px !important;
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          margin: 0px 7px 0px 7px;
        }
        .swiper-pagination-bullet-active {
          width: 10px;
          height: 10px;
        }
      }
      .swiper-button-prev{
        height: 32px !important;
        width: 32px !important;
        &:after {
          font-size: 12px;
        }
      }
      .swiper-button-next {
        height: 32px !important;
        width: 32px !important;
        &:after {
          font-size: 12px;
        }
      }
    }
  }
}

// mobile
@media (max-width: 440px){       
  .resources {
    .resources-slider {
      .swiper-slide {
        .desktopImg{
          display: none;
        }
        .tabletImg{
          display: none;
        }
        .mobileImg{
          display: inline-block;
        }
        .resources-slide-content {
          padding: 20px 5% 30px 5%;
          .heading {
            @include h6;
          }
        }
      }
      .swiper-pagination {
        bottom: 10px !important;
        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          margin: 0px 7px 0px 7px;
        }
        .swiper-pagination-bullet-active {
          width: 8px;
          height: 8px;
        }
      }
      .swiper-button-prev{
        height: 28px !important;
        width: 28px !important;
        &:after {
          font-size: 10px;
        }
      }
      .swiper-button-next {
        height: 28px !important;
        width: 28px !important;
        &:after {
          font-size: 10px;
        }
      }
    }
  }
}
